data/Integracao-SZtoSZ-flow-node-red-v3.json
[
    {
        "id": "b24033492f109407",
        "type": "tab",
        "label": "Webhook SZ 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "282e32fc08aaff7c",
        "type": "tab",
        "label": "Webhook SZ 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d6ca319dce7e9b1e",
        "type": "http in",
        "z": "b24033492f109407",
        "name": "",
        "url": "/webhook",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "2dba41758d60c05d",
                "436827e8910d8b5e"
            ]
        ]
    },
    {
        "id": "2dba41758d60c05d",
        "type": "http response",
        "z": "b24033492f109407",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "436827e8910d8b5e",
        "type": "function",
        "z": "b24033492f109407",
        "name": "Configura o horario",
        "func": "\nmsg.hora = new Date().getUTCHours() - 3\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "0bb8f5e113fff58c"
            ]
        ]
    },
    {
        "id": "0bb8f5e113fff58c",
        "type": "switch",
        "z": "b24033492f109407",
        "name": "Condição de transbordo",
        "property": "hora",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "10",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "227cb22db5db2007"
            ],
            [
                "d1eecca9d88923de"
            ]
        ]
    },
    {
        "id": "227cb22db5db2007",
        "type": "debug",
        "z": "b24033492f109407",
        "name": "Fora do horario",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "d1eecca9d88923de",
        "type": "switch",
        "z": "b24033492f109407",
        "name": "Tipo de evento",
        "property": "payload.data.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "messageContact",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "messageContact",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "9ed5d622af4fde54"
            ],
            [
                "a0cfb115e94a1b98"
            ]
        ]
    },
    {
        "id": "a0cfb115e94a1b98",
        "type": "debug",
        "z": "b24033492f109407",
        "name": "Outro tipo de evento",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "9ed5d622af4fde54",
        "type": "switch",
        "z": "b24033492f109407",
        "name": "Tipo de mensagem",
        "property": "payload.data.content.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "text",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "midia",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "contact",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "35ea221eddf36c2a"
            ],
            [],
            []
        ]
    },
    {
        "id": "5f1a9f58bf825cc9",
        "type": "http request",
        "z": "b24033492f109407",
        "name": "Envia para o canal generico SZ 2",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://fortics.sz.chat/api/v4/generic/messages/send",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 920,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "35ea221eddf36c2a",
        "type": "function",
        "z": "b24033492f109407",
        "name": "Config text message",
        "func": "var text = msg.payload.data.content.message;\nvar platform_id =   msg.payload.data.content.platform_id;\nvar pname = msg.payload.vars.name;\n\nif (pname == \"\" || pname == \"string\") {\n    pname = platform_id;\n}\n\nmsg.payload = {\n    \"contacts\": [\n      {\n        \"profile\": {\n          \"name\": pname,\n          \n        },\n        \"platform_id\": platform_id\n      }\n    ],\n    \"messages\": [\n      {\n        \"from\": platform_id,\n        \"id\": \"any\",\n        \"timestamp\": \"1521497875\",\n        \"text\": {\n          \"body\": text,\n        },\n        \"type\": \"text\"\n      }\n    ]\n  },\n\nmsg.headers = {};\nmsg.headers['API-KEY'] = '_zsncA7N2HTBtrv0OXDfH';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 220,
        "wires": [
            [
                "5f1a9f58bf825cc9"
            ]
        ]
    },
    {
        "id": "a3f13ec61523df99",
        "type": "comment",
        "z": "b24033492f109407",
        "name": "Configuração",
        "info": "É necessário configurar o token do canal generico",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "39eca5485c860632",
        "type": "http in",
        "z": "282e32fc08aaff7c",
        "name": "",
        "url": "/transbordo",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "53836d5bb2c5d946",
                "60c0bf9244169fa8"
            ]
        ]
    },
    {
        "id": "53836d5bb2c5d946",
        "type": "http response",
        "z": "282e32fc08aaff7c",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 220,
        "y": 160,
        "wires": []
    },
    {
        "id": "6a8ff9234068042f",
        "type": "function",
        "z": "282e32fc08aaff7c",
        "name": "Prepara envio",
        "func": "channel_id = flow.get(\"channel_id\") || \"5ee0c30980e7f65aa21fc9e4\";\n\ntext = msg.payload.text.body;\nplatform_id = msg.payload.to;\ntoken = global.get(\"token\");\n\nmsg.payload = {\n    \"platform_id\": platform_id,\n    \"channel_id\": channel_id,\n    \"type\": \"text\",\n    \"contact_name\": \"string\",\n    \"message\": text,\n    \"token\": token\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 200,
        "wires": [
            [
                "f64cafb84c27fb8e"
            ]
        ]
    },
    {
        "id": "f64cafb84c27fb8e",
        "type": "http request",
        "z": "282e32fc08aaff7c",
        "name": "Send message",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://efigueira.sz.chat/api/v4/message/send",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 920,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "292873ac5d4edc7b",
        "type": "comment",
        "z": "282e32fc08aaff7c",
        "name": "Configuração",
        "info": "1. É necessário configurar o channel_id para fazer o envio.\n2. É necessário setar as credenciais de envio do SZ 1",
        "x": 390,
        "y": 160,
        "wires": []
    },
    {
        "id": "60c0bf9244169fa8",
        "type": "function",
        "z": "282e32fc08aaff7c",
        "name": "Ajusta refresh token",
        "func": "var lastrefresh = global.get(\"lastrefresh\");\nvar now = Date.now();\nvar diff;\nvar second = 1000;\nvar minute = second * 60;\n\ndiff = now - lastrefresh\n\nif (now >= lastrefresh + 5 * minute) {\n    lastrefresh = now;\n    global.set(\"lastrefresh\", lastrefresh);\n}\n\nmsg.refresh = parseInt(diff / (5 * minute)) ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"lastrefresh\",0);",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 240,
        "wires": [
            [
                "6b644a7399ad8df5"
            ]
        ]
    },
    {
        "id": "6b644a7399ad8df5",
        "type": "switch",
        "z": "282e32fc08aaff7c",
        "name": "Refresh do token ?",
        "property": "refresh",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 240,
        "wires": [
            [
                "6a8ff9234068042f"
            ],
            [
                "5e7fd8a16545e3cd"
            ]
        ]
    },
    {
        "id": "d4305a8df2bbbb46",
        "type": "http request",
        "z": "282e32fc08aaff7c",
        "name": "Auth",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://efigueira.sz.chat/api/v4/auth/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "f0978ce82a8f63fa"
            ]
        ]
    },
    {
        "id": "5e7fd8a16545e3cd",
        "type": "function",
        "z": "282e32fc08aaff7c",
        "name": "Conf auth",
        "func": "req_payload = msg.payload;\n\nmsg.payload = {\n\n    \"email\": \"agent@sz.chat\",\n    \"password\": \"2020@gent\"\n\n};\nmsg.req_payload = req_payload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            [
                "d4305a8df2bbbb46"
            ]
        ]
    },
    {
        "id": "f0978ce82a8f63fa",
        "type": "function",
        "z": "282e32fc08aaff7c",
        "name": "Save auth",
        "func": "token = msg.payload.token;\nglobal.set(\"token\",token);\nmsg.token = token;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [
            [
                "b77921462848739a"
            ]
        ]
    },
    {
        "id": "b77921462848739a",
        "type": "function",
        "z": "282e32fc08aaff7c",
        "name": "Prepara envio",
        "func": "channel_id = flow.get(\"channel_id\") || \"5ee0c30980e7f65aa21fc9e4\";\n\ntext = msg.req_payload.text.body;\nplatform_id = msg.req_payload.to;\ntoken = global.get(\"token\");\n\nmsg.payload = {\n    \"platform_id\": platform_id,\n    \"channel_id\": channel_id,\n    \"type\": \"text\",\n    \"contact_name\": \"string\",\n    \"message\": text,\n    \"token\": token\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 440,
        "wires": [
            [
                "4e592ef29b68c2d0"
            ]
        ]
    },
    {
        "id": "4e592ef29b68c2d0",
        "type": "http request",
        "z": "282e32fc08aaff7c",
        "name": "Send message",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://efigueira.sz.chat/api/v4/message/send",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 760,
        "y": 440,
        "wires": [
            []
        ]
    }
]